/* #studentprofilebg{
  background-image: url("../image/OIP.jpeg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
} */
#profilelogo{
    margin-left: 45%;
    margin-top: 7%;
}
 