#studentprofilebg {
  background-image: url("../image/boeke-768x512.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
}

#profilelogo {
  margin-left: 36%;
  padding-top: 10%;
  margin-bottom: 30px;
  color:white
}

.profileview {
  margin-left: 22%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;


}

.profileborder {
  width: 450px;
  height: 450px;
  margin-top: 8%;
  margin-left: 530px;
}

.editprofilebtn{
  margin-top: 20px;
  margin-left: 170px;
  width: 80px;
}