#studentprofilebg {
  background-image: url("../image/dark-1015824_640.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
}

#profilelogo {
  margin-left: 36%;
  padding-top: 10%;
  margin-bottom: 30px;
  color:white
}

.profileview {
  margin-left: 22%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;


}

.profileborder {
  width: 450px;
  height: 450px;
  margin-top: 8%;
  margin-left: 530px;
}

.studenteditBtn {
  margin-left: 35%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(168, 38, 255);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(140, 32, 212);
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.studenteditBtn:hover {
  color: transparent;
}

.studenteditBtn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.studenteditBtn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}
