.firstbg{
    background-image: url("../image/3847557.webp");
    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
#weltolib{
    color:black;
    padding-top: 5%;
    margin-left: 15%;
}
#firstquotas{
    color:black;
    margin-left: 6%;
    margin-top: 6%;
}
#firstlog{
    margin-top: 2%;
    margin-left: 10%;
    width: 100px;
}
.firstpagenav{
    margin-left: 70%;
}
.registerdrop{
    margin-left: 20px;
    width: 70%;
}