.line::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; 
    background:green; 
    transition: width .3s ease;
   
  }
  
  .line:hover::after {
    width: 100%;
  }
  #studendnav{
    padding-left: 30px;
  }
