.feedbackbg{
    /* background-color: blue; */
    background-image: url('../image/boeke-768x512.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.feedbackborder{
    width: 15%;
    margin-left: 43%;
    margin-top: 30px;
}
#studentfeedbacktitle{
    margin-left: 40%;
    margin-top: 20px;
    color: white;
}
#feedbacktext{
    width: 15%;
    margin-left: 43%;
    height: 150px;
}
.feedbacklabel{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.feedbackbtn{
    width: 15%;
    margin-left: 43%;
    margin-top: 20px;
}