body{
    
    background-image: url("https://png.pngtree.com/background/20230516/original/pngtree-large-library-with-wooden-shelves-and-books-picture-image_2599239.jpg");
}
#a{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgb(170, 255, 0);
    
}