body{
    background-image: url("https://www.bhmpics.com/downloads/books-background/21.books-on-bookshelf-in-library-back-to-school-education-concept-on-picture-id1301533980.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}